.list {
    margin: 0;
    background-color: white;
    padding: 20px 0 20px 0;
}

.list__item {
    display: flex;
    margin: 0 20px;
    border-bottom: 1.5px solid #ddd;
    align-items: center;
    list-style-type: none;
}

.list__content {
    flex-grow: 1;
}

.list__content--done {
    text-decoration: line-through;
}

.list__button {
    color: white;
    border: none;
    min-width: 30px;
    min-height: 30px;
    margin: 12px;
    background-color: hsl(120, 100%, 25%);
    transition: 1s;
}

.list__button:hover{
    background-color: hsl(120, 100%, 30%);
}

.list__button:active{
    background-color: hsl(120, 100%, 40%);
}

.list__button--delete {
    background: url("../img/delete.png") center center no-repeat;
    background-size: 16px;
    background-color: hsl(0, 100%, 45%);
    transition: 1s;
}

.list__button--delete:hover{
    background-color: hsl(0, 100%, 50%);
}

.list__button--delete:active{
    background-color: hsl(0, 100%, 65%);
}